AppCast/AppCast/Service References/VideoServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VideoConferenceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IVideoConferenceService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVideoConferenceService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IVideoConferenceService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IVideoConferenceService_PublishVideo_InputMessage">
    <wsdl:part name="parameters" element="tns:PublishVideo" />
  </wsdl:message>
  <wsdl:message name="IVideoConferenceService_PublishVideo_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublishVideoResponse" />
  </wsdl:message>
  <wsdl:message name="IVideoConferenceService_PublishVoice_InputMessage">
    <wsdl:part name="parameters" element="tns:PublishVoice" />
  </wsdl:message>
  <wsdl:message name="IVideoConferenceService_PublishVoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublishVoiceResponse" />
  </wsdl:message>
  <wsdl:message name="IVideoConferenceService_PublishText_InputMessage">
    <wsdl:part name="parameters" element="tns:PublishText" />
  </wsdl:message>
  <wsdl:message name="IVideoConferenceService_PublishText_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublishTextResponse" />
  </wsdl:message>
  <wsdl:message name="IVideoConferenceService_OnVideoSend_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnVideoSend" />
  </wsdl:message>
  <wsdl:message name="IVideoConferenceService_OnVideoSend_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnVideoSendResponse" />
  </wsdl:message>
  <wsdl:message name="IVideoConferenceService_OnVoiceSend_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnVoiceSend" />
  </wsdl:message>
  <wsdl:message name="IVideoConferenceService_OnVoiceSend_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnVoiceSendResponse" />
  </wsdl:message>
  <wsdl:message name="IVideoConferenceService_OnTextSend_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnTextSend" />
  </wsdl:message>
  <wsdl:message name="IVideoConferenceService_OnTextSend_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnTextSendResponse" />
  </wsdl:message>
  <wsdl:portType name="IVideoConferenceService">
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IVideoConferenceService/Subscribe" message="tns:IVideoConferenceService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVideoConferenceService/SubscribeResponse" message="tns:IVideoConferenceService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PublishVideo">
      <wsdl:input wsaw:Action="http://tempuri.org/IVideoConferenceService/PublishVideo" message="tns:IVideoConferenceService_PublishVideo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVideoConferenceService/PublishVideoResponse" message="tns:IVideoConferenceService_PublishVideo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PublishVoice">
      <wsdl:input wsaw:Action="http://tempuri.org/IVideoConferenceService/PublishVoice" message="tns:IVideoConferenceService_PublishVoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVideoConferenceService/PublishVoiceResponse" message="tns:IVideoConferenceService_PublishVoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PublishText">
      <wsdl:input wsaw:Action="http://tempuri.org/IVideoConferenceService/PublishText" message="tns:IVideoConferenceService_PublishText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVideoConferenceService/PublishTextResponse" message="tns:IVideoConferenceService_PublishText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnVideoSend">
      <wsdl:output wsaw:Action="http://tempuri.org/IVideoConferenceService/OnVideoSend" message="tns:IVideoConferenceService_OnVideoSend_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IVideoConferenceService/OnVideoSendResponse" message="tns:IVideoConferenceService_OnVideoSend_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnVoiceSend">
      <wsdl:output wsaw:Action="http://tempuri.org/IVideoConferenceService/OnVoiceSend" message="tns:IVideoConferenceService_OnVoiceSend_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IVideoConferenceService/OnVoiceSendResponse" message="tns:IVideoConferenceService_OnVoiceSend_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnTextSend">
      <wsdl:output wsaw:Action="http://tempuri.org/IVideoConferenceService/OnTextSend" message="tns:IVideoConferenceService_OnTextSend_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IVideoConferenceService/OnTextSendResponse" message="tns:IVideoConferenceService_OnTextSend_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IVideoConferenceService" type="tns:IVideoConferenceService">
    <wsp:PolicyReference URI="#NetTcpBinding_IVideoConferenceService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IVideoConferenceService/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublishVideo">
      <soap12:operation soapAction="http://tempuri.org/IVideoConferenceService/PublishVideo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublishVoice">
      <soap12:operation soapAction="http://tempuri.org/IVideoConferenceService/PublishVoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublishText">
      <soap12:operation soapAction="http://tempuri.org/IVideoConferenceService/PublishText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnVideoSend">
      <soap12:operation soapAction="http://tempuri.org/IVideoConferenceService/OnVideoSend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnVoiceSend">
      <soap12:operation soapAction="http://tempuri.org/IVideoConferenceService/OnVoiceSend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnTextSend">
      <soap12:operation soapAction="http://tempuri.org/IVideoConferenceService/OnTextSend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VideoConferenceService">
    <wsdl:port name="NetTcpBinding_IVideoConferenceService" binding="tns:NetTcpBinding_IVideoConferenceService">
      <soap12:address location="net.tcp://localhost:8000/VideoServer/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8000/VideoServer/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>Desktop\KY</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>